@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rammetto+One&display=swap");

:root {
   --main-color: #fff;
   --second-color: #3451a1;
   --third-color: #051956;
   --hover-color: #000;

   --font-main: "Poppins", sans-serif;
   --font-second: "Rammetto One", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body {
   background-color: #051956;
}

.sub__menu {
   display: flex;
   justify-content: center;
   gap: 9rem;
   padding-top: 16rem;
   position: fixed;
   width: 100%;
   background-color: var(--third-color);
}

.sub__menu > button {
   padding: 8px 10px;
   border: none;
   border-radius: 10px;
   color: #fff;
   font-family: var(--font-main);
   font-weight: 500;
   background-color: transparent;
   cursor: pointer;
}

button > span {
   color: #fff;
   background-color: var(--second-color);
   border-radius: 5px;
   padding: 0 5px;
}

hr {
   width: 43%;
   margin: 0 auto;
   border: none;
   border: 1px solid #3451a167;
   margin-bottom: 1.5rem;
   border-radius: 50px;
}

.alert {
   background-color: var(--third-color);
   color: #fff;
   font-family: var(--font-main);
   padding: 10px;
   margin: 10px 0;
   border-radius: 5px;
   text-align: center;
   position: fixed;
   right: -300px;
   top: 20px;
   transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
   z-index: 999999999999999999999999999999999;
   opacity: 0;
}

.alert.show {
   animation: slideIn 0.5s forwards;
}

.alert.hide {
   animation: slideOut 0.5s forwards;
}

.close-alert {
   background: none;
   border: none;
   color: white;
   font-size: 20px;
   margin-left: 10px;
   cursor: pointer;
}

@keyframes slideIn {
   from {
      right: -300px;
      opacity: 0;
   }
   to {
      right: 20px;
      opacity: 1;
   }
}

@keyframes slideOut {
   from {
      right: 20px;
      opacity: 1;
   }
   to {
      right: -300px;
      opacity: 0;
   }
}