header h1 {
   color: var(--main-color);
   font-family: var(--font-second);
   font-size: 2em;
   font-weight: 200;
   padding: 7rem 0 0 0;
   text-align: center;
   width: 100%;
   position: fixed;
   z-index: 9999999;
}
