.todo-form {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.todo-form input {
   flex: 1;
   padding: 10px;
   margin-right: 10px;
   border: 2px solid #415a77;
   border-radius: 4px;
   background-color: #415a77;
   color: white;
}

.todo-form button {
   padding: 10px 20px;
   background-color: #778da9;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   color: white;
}
