.todo-form {
   display: flex;
   gap: 0.5rem;
   margin-top: 2rem;
   align-items: center;
   justify-content: center;
   position: fixed;
   width: 100%;
   padding-top: 10rem;
   background-color: var(--third-color);
   z-index: 1;
}

.todo-form input[type="text"] {
   width: 34%;
   padding: 0.8rem;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-family: var(--font-main);
   box-shadow: 0 1px 3px #00000062;
}

.todo-form button[type="submit"] {
   background-color: var(--second-color);
   color: var(--main-color);
   font-family: var(--font-main);
   border: none;
   padding: 0.6rem 1rem;
   border-radius: 5px;
   font-size: 1.2em;
   font-weight: 600;
   cursor: pointer;
   box-shadow: 0 1px 3px #00000062;
}
